@model RoutingLookup.Models.Bank
<div class="bank">
	<div class="routing-number odd">
		<div class="label">
			@Html.Label("Routing Number:")
		</div>
		<div class="content">
			@Html.DisplayFor(model => model.RoutingNumber)
		</div>
	</div>
	<div class="name even">
		<div class="label">
			@Html.Label("Bank Name:")
		</div>
		<div class="content">
			@Html.DisplayFor(model => model.Name)
		</div>
	</div>
	<div class="address odd">
		<div class="label">
			@Html.Label("Address:")
		</div>
		<div class="content">
			<div>
				@Html.DisplayFor(model => model.Address)
			</div>
			<div>
				@Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)
			</div>
		</div>
	</div>
	<div class="phone even">
		<div class="label">
			@Html.Label("Phone Number:")
		</div>
		<div class="content">
			(@Model.Phone.Substring(0, 3)) @Model.Phone.Substring(3, 3)-@Model.Phone.Substring(6, 4)
		</div>
	</div>
</div>