@model RoutingLookup.Models.Bank
<div class="bank">
	<div>
		@Html.LabelFor(model => model.RoutingNumber)
	</div>
	<div>
		@Html.DisplayFor(model => model.RoutingNumber)
	</div>
	<div>
		@Html.LabelFor(model => model.Name)
	</div>
	<div>
		@Html.DisplayFor(model => model.Name)
	</div>
	<div>
		@Html.LabelFor(model => model.Address)
	</div>
	<div>
		@Html.DisplayFor(model => model.Address)
	</div>
	<div>
		@Html.LabelFor(model => model.City)
	</div>
	<div>
		@Html.DisplayFor(model => model.City)
	</div>
	<div>
		@Html.LabelFor(model => model.State)
	</div>
	<div>
		@Html.DisplayFor(model => model.State)
	</div>
	<div>
		@Html.LabelFor(model => model.Zip)
	</div>
	<div>
		@Html.DisplayFor(model => model.Zip)
	</div>
	<div>
		@Html.LabelFor(model => model.Phone)
	</div>
	<div>
		@Html.DisplayFor(model => model.Phone)
	</div>
</div>